<!-- banner -->
	<div id="slidey" style="display:none;">
		<ul>	
        {% for post in site.posts %} 
        {% if post.meta contains "banner" %}
            <li><img src="{{ post.image }}" alt=" "><p class='title'><a href="{{post.url}}">{{post.title}}</a></p><p class='description'>{{ post.content | strip_html | strip_newlines | truncatewords: 30 }}</p></li>
        {% endif %}
        {% endfor %}

    </div>
        <script src="{{site.urll}}/js/jquery.slidey.js"></script>
        <script src="{{site.urll}}/js/jquery.dotdotdot.min.js"></script>
        <script type="text/javascript">
			$("#slidey").slidey({
				interval: 8000,
				listCount: 5,
				autoplay: false,
				showList: true
			});
			$(".slidey-list-description").dotdotdot();
		</script>
<!-- //banner -->
