<div class="general_social_icons">
	<nav class="social">
		<ul>
			<li class="w3_twitter"><a href="{{site.url_twittermu}}">{{site.nama_twittermu}}<i class="fa fa-twitter"></i></a></li>
			<li class="w3_facebook"><a href="{{site.url_facebookmu}}">{{site.nama_facebookmu}}<i class="fa fa-facebook"></i></a></li>
			<li class="w3_dribbble"><a href="{{site.url_dribbble}}">{{site.nama_dribbble}}<i class="fa fa-dribbble"></i></a></li>
			<li class="w3_g_plus"><a href="{{site.url_googlemu}}">{{site.nama_googlemu}}<i class="fa fa-google-plus"></i></a></li>				  
		</ul>
  </nav>
</div>
