---
layout: default
pagination:
  enabled: true
  per_page: 2
  permalink: '/:num/'
  categories: blog
  trail: 
    before: 2 # The number of links before the current page
    after: 2  # The number of links after the current page
---
<h1 class="h1fortype">BLOG</h1><hr>
<div class="container-box">
<div class="row text-center">

{% for post in paginator.posts %}
      <div class="col-lg col-md mb">
        <div class="card h-100">
          <img class="card-img-top" src="{{post.image}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
          </div>
          <div class="card-footer">
            <a href="{{ post.url }}" class="btn btn-primary">Baca</a>
          </div>
        </div>
      </div>
{% endfor %}
    </div>
    </div>
<div class="text-center">
{% include nav_paginator.html %}
</div>
