{% include head.html %}
{% include header.html %}
{% if page.image %}<img class="featured-image" src="{{page.image}}" alt="{{page.title}}" title="{{page.title}}">{% endif %}
<div id="main-content">
<h1>{{ page.title }}</h1>
<i class="fa fa-calendar" style="padding-right:3px;" aria-hidden="true"></i>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}
{% if page.meta %}<br /> • Meta : {{ page.meta }}{% endif %}
{% if page.genre %}<br /> • Genre : {{ page.genre }}{% endif %}
<hr>
<main>
{{content}}
</main>
</div>
<hr>
{% include banner_bottom.html %}
{% include disquss.html %}
{% include footer.html %}


